@import url("/style/usuario/geral.css");
@import url("/style/usuario/footer.css");
@import url("/style/usuario/nav.css");

body {
  background-color: var(--cor-fundo-claro);
}

.table tbody tr.baixo-estoque {
  background-color: rgba(220,53,69,0.06); 
}

.badge-quantidade {
  min-width: 3.0rem;
  display: inline-block;
  text-align: center;
}

.produto-nome {
  font-weight: 600;
}

.acoes-btns .btn {
  margin-left: 0.2rem;
}

